div {
    background-color: plum;
    text-align: center;
    border: 5px solid;
    text-decoration: underline;
}
article {
    background-color: plum;
    text-align: center;
    border: 5px solid;
    text-decoration: underline;
}
section {
    background-color: plum;
    text-align: center;
    border: 5px solid;
    text-decoration: underline;
}
